@page
@model IndexModel
@{
    ViewData["Title"] = "Contacts";
}

<h1 class="mb-3">Contact List</h1>

<table class="table table-hover shadow rounded">
    <thead class="teal">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr scope="row">
                <td>@contact.Id</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>
                    @if (contact.EmailAddresses != null && contact.EmailAddresses.Any())
                    {
                        <ul>
                            @foreach (var email in contact.EmailAddresses)
                            {
                                <li>@email.EmailAddress</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Email</span>
                    }

                <td>
                    @if (contact.PhoneNumbers != null && contact.PhoneNumbers.Any())
                    {
                        <ul>
                            @foreach(var number in contact.PhoneNumbers)
                            {
                                <li><span class="phone-type">@number.Type</span> : @number.PhoneNumber</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Phone Number</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
